* { margin: auto;
    padding: 0.2em;
}
/* img{
    max-width: 100%;
} */
body{
    background-color: #f30202;
}
h1{
    color: rgb(218, 30, 30);
    background-color: rgb(99, 68, 68);
    border-top: 20px; color: rgb(238, 6, 6);
    text-align: center;
}


.Gris{
    text-align: center;
    margin: auto;
    padding: 0px;
    width: 980px;
}


.Gris_vacio{
    margin: 0%;
    padding: 0px;
    
}

.logos{
    text-align: center;
    
}

.logos_angular{
    width: 3.4%;
    border: 2px solid #000;
}

.logos_css{
    width: 3%;
    border: 2px solid #000;
}

.logos_Js{
    width: 3%;
    border: 2px solid #000;
}

.logos_mysql{
    width: 3%;
    border: 2px solid #000;    
}

.logos_php{
    width: 3%;
    border: 2px solid #000;
}

.logos_phyton{
    width: 3%;
    border: 2px solid #000;
}

.logos_ruby{
    width: 3.6%;
    border: 2px solid #000;
}

.logos_simphony{
    width: 3%;
    border: 2px solid #000;
}