h1{
        color: rgb(119, 13, 13);
        background-color: rgb(255, 255, 255);
        border-top: 20px; color: rgb(238, 6, 6);
        text-align: center;
}


.Gris{
    text-align: center;
}

.Gris-parrafo-vacio{
    width: 3%;
    margin: 0%;
    padding: 0%;
    border: 2px solid #000;
}

.logos{
    text-align: center;
    
}
.logos_angular{
    width: 3.4%;
    border: 2px solid #000;
}
.logos_css{
    width: 3%;
    border: 2px solid #000;
}
.logos_Js{
    width: 3%;
    border: 2px solid #000;
}
.logos_mysql{
    width: 3%;
    border: 2px solid #000;
    /* margin: 0px;
    padding: 0px; */
    
}
.logos_php{
    width: 3%;
    border: 2px solid #000;
}
.logos_phyton{
    width: 3%;
    border: 2px solid #000;
}
.logos_ruby{
    width: 3.6%;
    border: 2px solid #000;
}
.logos_simphony{
    width: 3%;
    border: 2px solid #000;
}