h1{
        color: rgb(119, 13, 13);
        background-color: rgb(255, 255, 255);
        border-top: 20px; color: rgb(238, 6, 6);
}

.Gris{
    text-align: center;
}

.logos{
    text-align: center;
}